body{
    padding: 1rem;
    border: solid 2px white;
}

.package{
    border: solid 1px white;
    margin: auto;
    max-width: 1200px;
    width: 85%;
}

.box{
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 186, 0);
    width: calc(100% / 7);
}

.box.buzz{
    background-color: rgb(242, 80, 34);
}

.box.fizz{
    background-color: rgb(255, 185, 0);
}

.box.fizzbuzz{
    background-color: rgb(0, 164, 239);
}

@media screen and (max-width: 990px){
    
}